<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Travel Planner</title>
</head>
 <body>
<div id = "app">
  <div class ="holder headline">
    Travel Planner
  </div>
  <div class ="holder zip">
    <label for="city">City Name:</label>
    <input type="text" id="city" placeholder="ex. Bhiwandi" required>
    <label for="date">Departing:</label>
    <input type="date" id="date" class="form-control" required>
    <button id="generate" type = "submit" onclick="return Client.performAction(event)" onsubmit="return Client.performAction(event)"> Generate </button>
  </div>
  <div class="holder trip-container">
    <div class="trip-image box"><img id="image-location"></div>
    <div class="trip-details box">
      <div class="place"></div>
      <div class="departing"></div>
      <p class="days-count"></p>
      <div class="typical-weather">
        <div class="typical-weather-title"></div>
        <div class="temp-details">
          <div class="temp">
            <div class="temp-high"></div>
            <div class="temp-low"></div>
          </div>
          <div class="w-icon">
            <img id="weather-icon">
          </div>
        </div>
        <div class="summary"></div>
      </div>
    </div>
  </div>
</body>
</html>